<h1>タスク一覧</h1>

<%= link_to '新規タスクの投稿', new_task_path %>

<table border="1">
  <tr>
    <td>content</td>
    <td>status</td>
  </tr></tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.content, task %></td>
    <td><%= task.status%></td>
  </tr>
  <% end %>
</table>
